* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100%;
    font-size: 1em;
}

header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
    background-color: black;
}

main > h1 {
    text-align: center;
    padding: 15px;
}


#yammy {
    color: #DD0100;
    background-image: linear-gradient(to right, #693528, #43140C,  #B73F24);
}

#starrk {
    color: #0AB4F3;
    background-image: linear-gradient(to right, #125396, #091128, #F3F0F1);
}

#baraggan {
    color: #F90BBB;
    background-image: linear-gradient(to right,#240D0C, #A70F62, #CD7C7A);
}

#harribel {
    color: #FED936;
    background-image: linear-gradient(to right, #907548, #EEBB6D, #FCE14F);
}

#ulquiorra {
    color: #2BDD9C;
    background-image: linear-gradient(to right, #C3D8D8, #505E67, #000000);
}

#nnoitra {
    color: #F6F52D;
    background-image: linear-gradient(to right, #A6BCC0, #3E3612, #E0DFCD);
}

#grimmjow {
    color: #35DAEE;
    background-image: linear-gradient(to right, #6397A8, #EFF4F0, #4075AC);
}

#zommari {
    color: #D61ACD;
    background-image: linear-gradient(to right, #7E4C72, #FEE8F2, #892682);
}

#szayel {
    color: #911D45;
    background-image: linear-gradient(to right, #191433, #F768A1, #CC96BB);
}

#aaroniero {
    color: #D70C63;
    background-image: linear-gradient(to right, #33103C, #671382, #977D9E);
}

section > pre{
    padding-top: 10vh;
    padding-bottom: 10vh;
    font-size: 2em;
    line-height: 2.4em;
    color: white;
}

section.imagem {
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    background-size: cover;
    background-attachment: fixed; 
}

section.image > p {
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.295);
}

#img1 {
    background-image: url(src/imagens/yammy.jpg);
}

#img2 {
    background-image: url(src/imagens/starrk.jpg);
}

#img3 {
    background-image: url(src/imagens/barragan.jpg);
}

#img4 {
    background-image: url(src/imagens/harribel.jpg);
}

#img5 {
    background-image: url(src/imagens/ulquiorra.jpg);
}

#img6 {
    background-image: url(src/imagens/nnoitra.jpg);
}

#img7 {
    background-image: url(src/imagens/grimmjoiw.jpg);
}

#img8 {
    background-image: url(src/imagens/zommari.jpg);
}

#img9 {
    background-image: url(src/imagens/szayel.jpg);
}

#img10 {
    background-image: url(src/imagens/aaroniero.jpg);
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
